/* Typography */
@font-face {
	font-family: "Rock";
	src: url('../font/JFRocSol.TTF');
	font-weight: 900;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #444
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Quicksand", sans-serif;
}

h2 {
	font-size: 2.5em;
}

/* Layout */
html {
	background-color: #efefef;
}

body {
	margin: 0;
}

.content {
	width: 750px;
	margin: 0 auto;
}

.titleBanner {
	background-color: #333;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.titleLogo {
	margin: 45vh auto;
	width: 100%;
	text-align: center;
}

.titleName {
	position: relative;
	font-family: "Rock";
	font-size: 5em;
	color: #ccc;
	z-index: 2;
}

.titleIcon {
	position: absolute;
	top: 30%;
	left: 55%;
	z-index: 1;
}

.spriteEditor {
	width: 100%;
	height: 100vh;
	background-color: #333;
}

.canvasEditor {
	margin: auto;
}

.canvas {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	background-color: rgba(102, 102, 102, 0.5);
}

